html {
  /* px means "pixels". The base font size is now 21 pixels high */
  font-size: 21px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;

}


body {
  /* width: 600px; */
  margin: 30px 50px;
  background-color: rgba(255, 255, 255, 1); 
  padding: 30px 30px 30px 30px; 
  border: 5px solid rgba(0, 0, 0, 0);/* made color light blue */
}



p {
  color: black;
}



h1 {
    color: rgb(0, 0, 0);  
    text-align: center; 
    padding: 30px 30px 30px 30px; 
   border: 5px solid rgba(0, 0, 0, 1);/* made color light blue */
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  gap: 20px;
  align-items: baseline; /* Aligns items along the baseline of the container */
  justify-content: space-evenly; /* Distributes space evenly between items */
}





figure {
  display: flex;
  flex-direction: column;  /* Stacks image above caption */
  text-align: center;
  align-items: center;     /* Centers caption under image */

}


figcaption {
  font-weight: bold ; 
  margin-top: 10px; /* Adds space between image and caption */

}


img {
  /* width: 300px;
  height: 300px; */
  object-fit: cover;
  border: 5px solid rgba(0, 0, 0, 1); /*  added border to images */

}
  
  
  
  
nav{ 
  color: rgb(85, 85, 85); 
  display: flex;
  flex-direction: row;  
  gap: 20px;

}