html {
  /* px means "pixels". The base font size is now 21 pixels high */
  font-size: 21px;

  font-family: "Roboto", sans-serif;

}


body {
  /* width: 600px; */
  /* margin: 0px 50px 30px 50px; 
  padding: 30px 30px 30px 30px; */ 
  background-color: rgba(255, 255, 255, 1); 

  margin: 0px ;
  padding: 0px ; 

  border: 0px solid rgba(0, 0, 0, 0); /* With transparency set to 0, the border is invisible */
}



p {
  color: black;
  margin: 30px; 


}



h1 {
  color: rgb(0, 0, 0);  
  text-align: center; 

  margin: 50px 30px 30px 30px; 
  padding: 0px; 

  border: 5px solid rgba(0, 0, 0, 1);
}

h2{
  margin: 10px 30px; 
  padding: 0px; 
}

h3 {
  margin: 10px 30px; 
  padding: 0px; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  gap: 20px;
  align-items: baseline; /* Aligns items along the baseline of the container */
  justify-content: space-evenly; /* Distributes space evenly between items */
}





figure {
  display: flex;
  flex-direction: column;  /* Stacks image above caption */
  text-align: center;
  align-items: center;     /* Centers caption under image */

}


figcaption {
  font-weight: bold ; /* makes captions bold */
  margin-top: 10px; /* Adds space between image and caption */

}


img {
  /* width: 300px;
  height: 300px; */
  object-fit: cover; /* fils container but keeps the aspect ratio the same */
  border: 5px solid rgba(0, 0, 0, 1); /*  added border to images */

}
  
/* Thanks to https://www.w3schools.com/css/css_navbar_horizontal.asp for help with making the nav bar */   
  


nav /* this will make the nav bar stay at the top of the page when scrolling down */
{
   position: fixed;
   top: 0px;
   width: 100%; 

}


ul{
  margin: 0; 
  padding: 0; 

  list-style-type: none;  /* Removes default bullet points */

  background-color: rgb(126, 126, 126); /* Sets background color */

  display: flex; 

}

ul li {
  float: left;
}


ul li a {
  display: block;
  color: white;
  padding: 20px 24px;
  text-decoration: none; /* removes underline from links */
}

ul li a:hover {
  background-color: #111111; /* makes the links change color when hovered over with mouse*/
}


ul li a.active {
  background-color: #3090df;
}

