html {
  /* px means "pixels". The base font size is now 21 pixels high */
  font-size: 21px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;
}


body {
  /* width: 600px; */
  margin: 30px 50px;
  background-color: rgba(0, 0, 0, 0.1); */
  padding: 0 30px 30px 30px; 
  border: 5px solid rgba(0, 0, 255, 0.3);
}

p {
  color: black;
}



h1 {
    color: rgba(0, 0, 255, 0.3);  /* made color light blue */
    text-align: center; 
}